@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgb(244, 240, 240);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

#nav{
    width:100%;
    height: 15vh;
    background-color: cornflowerblue;
    color: white;
    font-size: 2.5em;
    text-align: center;
    line-height: 14vh;
    
}

/* -------- FORM ------- */
#input-data{
    width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    font-family: 'JetBrainsMono', sans-serif;
}

.input-text{
    flex: 1;
    min-width: 210px;
    margin: 5px;
    height: 35px;
    padding-left: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #262626;
    transition: 0.25s;
    outline: none;
}

.input-text:focus {
    border-color: cornflowerblue;
}

.input-btn{
    flex: 1;
    margin: 5px;
    height: 39px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #262626;
    cursor: pointer;
    transition:  0.3s all ease;
    background-color: cornflowerblue;
    color: white;
    font-size: 1.2em;
}

.input-btn:hover{
    background-color: #383838;
    border-color: #383838;
    color: white;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

 /* -------- TABLE ------- */

 #myTable{
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
    border-collapse: collapse;
 }


 #myTable th {
    background-color: cornflowerblue;
    color: white;
    font-weight: 100;
    padding: 10px;
    font-size: 1.2em;
 }


 #myTable td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
 }

 #myTable td{
    padding: 5px;
    text-align: center;
    color: #383838;
 }

 #myTable tr:nth-child(even){
    background-color: #aaa7a7;
    text-align: center;
}

#myTable tr:hover{
    background-color: #ddd;
    text-align: center;
}

.remove-btn{
    width: 100%;
    height: 100%;
    text-align: center;
    border-width: 1px;
    background-color: rgb(248, 99, 99);
    cursor: pointer;
}